/*Buttons*/

#joinLobbyButton, #createLobbyButton {
    -fx-background-color: #66bb6a;
    -jfx-button-type: RAISED;
    -fx-pref-height: 35;
    -fx-pref-width: Infinity;
}

#joinButton, #createButton {
    -fx-background-color: #66bb6a;
    -jfx-button-type: RAISED;
    -fx-pref-height: 30;
    -fx-pref-width: Infinity;
}

#purchaseStreetButton, #purchaseHouseButton, #moveButton, #endTurnButton {
    -fx-background-color: #66bb6a;
    -jfx-button-type: RAISED;
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}

/*TextFields*/

#gameIDTextField, #playerNameTextField {
    -jfx-focus-color: #66bb6a;
    -jfx-label-float: true;
}

/*TilePanes*/

#tilePane0, #tilePane1, #tilePane2, #tilePane3, #tilePane4, #tilePane5, #tilePane6, #tilePane7, #tilePane8, #tilePane9,
#tilePane10, #tilePane11, #tilePane12, #tilePane13, #tilePane14, #tilePane15, #tilePane16, #tilePane17, #tilePane18,
#tilePane19, #tilePane20, #tilePane21, #tilePane22, #tilePane23, #tilePane24, #tilePane25, #tilePane26, #tilePane27,
#tilePane28, #tilePane29, #tilePane30, #tilePane31, #tilePane32, #tilePane33, #tilePane34, #tilePane35, #tilePane36,
#tilePane37, #tilePane38, #tilePane39 {
    -fx-alignment: CENTER;
    -fx-hgap: 7.0;
    -fx-vgap: 7.0;
}

/*Snackbar*/

.jfx-snackbar-content {
    -fx-background-color: #455a64;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: WHITE;
}

/*RadioButton*/

.jfx-radio-button {
    -jfx-selected-color: #5A5A5A;
}

/*CheckBox*/

.jfx-check-box {
    -jfx-checked-color: #66bb6a;
}
